@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  background-color: rgb(245, 245, 245);
  height: 100vh;
}
.my-container .chat-list,
.my-container .chat-window,
.my-container .chat-menu {
  padding: 13px;
  display: block;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.my-container .chat-menu {
  width: 5%;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.my-container .chat-menu .chat-menu-item {
  padding: 11px 13px;
  margin-bottom: 3px;
  border-radius: 8px;
}
.my-container .chat-menu .chat-menu-item i {
  font-size: 19px;
}
.my-container .chat-menu .chat-menu-item:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
.my-container .chat-list {
  width: 50%;
  margin: 0 8px;
}
.my-container .chat-list .chat-list-header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-container .chat-list .chat-list-header .header-top h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.my-container .chat-list .chat-list-header .header-top .right span {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  border-radius: 18px;
}
.my-container .chat-list .chat-list-header .header-top .right span i {
  font-size: 20px;
}
.my-container .chat-list .chat-list-header .header-search {
  padding: 10px 0;
}
.my-container .chat-list .chat-list-header .header-search form input {
  width: 100%;
  border: none;
  background-color: rgb(245, 245, 245);
  height: 40px;
  border-radius: 20px;
  padding: 0 20px;
  outline: none;
}
.my-container .chat-list .chat-list-body .chat-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
}
.my-container .chat-list .chat-list-body .chat-item .avatar img {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.my-container .chat-list .chat-list-body .chat-item .chat-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-container .chat-list .chat-list-body .chat-item .chat-content .chat-info {
  padding: 8px;
}
.my-container .chat-list .chat-list-body .chat-item .chat-content .chat-info .user-name span {
  font-size: 15px;
}
.my-container .chat-list .chat-list-body .chat-item .chat-content .chat-info .content {
  max-width: 363px;
}
.my-container .chat-list .chat-list-body .chat-item .chat-content .chat-info .content p {
  font-size: 14px;
  color: #65676b;
  white-space: nowrap; /* Ngăn không cho xuống dòng */
  overflow: hidden; /* Ẩn phần nội dung bị tràn */
  text-overflow: ellipsis;
  margin-bottom: 0px;
}
.my-container .chat-list .chat-list-body .chat-item .chat-content .chat-time span {
  font-size: 13px;
  color: #65676b;
}
.my-container .chat-list .chat-list-body .chat-item:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
.my-container .chat-window {
  width: 90%;
  margin-left: 8px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.my-container .chat-window .chat-window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  border-bottom: 2px solid rgb(235, 235, 235);
  height: 8%;
}
.my-container .chat-window .chat-window-header .chat-window-header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.my-container .chat-window .chat-window-header .chat-window-header-left .avatar img {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.my-container .chat-window .chat-window-header .chat-window-header-left .user-info {
  padding: 0 10px;
}
.my-container .chat-window .chat-window-header .chat-window-header-left .user-info .user-name span {
  font-size: 15px;
  font-weight: 500;
}
.my-container .chat-window .chat-window-header .chat-window-header-left .user-info .user-status span {
  font-size: 12px;
  color: #65676b;
}
.my-container .chat-window .chat-window-header .chat-window-header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.my-container .chat-window .chat-window-header .chat-window-header-right .item {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.my-container .chat-window .chat-window-header .chat-window-header-right .item i {
  font-size: 20px;
  color: rgb(0, 95, 255);
}
.my-container .chat-window .chat-window-header .chat-window-header-right .item:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
.my-container .chat-window .chat-window-body {
  padding: 0 13px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-grow: 1;
  max-height: 770px;
  overflow-y: scroll;
  min-height: 0;
}
.my-container .chat-window .chat-window-body .chat-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.my-container .chat-window .chat-window-body .chat-item p {
  width: auto;
  padding: 8px 12px;
  margin: 0;
}
.my-container .chat-window .chat-window-body .messages-send {
  color: white;
  justify-content: flex-end;
}
.my-container .chat-window .chat-window-body .messages-send .content {
  background-color: rgb(0, 95, 255);
  border-radius: 30px;
}
.my-container .chat-window .chat-window-body .messages-receive {
  justify-content: flex-start;
}
.my-container .chat-window .chat-window-body .messages-receive .avatar {
  padding-right: 10px;
}
.my-container .chat-window .chat-window-body .messages-receive .avatar img {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.my-container .chat-window .chat-window-body .messages-receive .content {
  float: left;
  background-color: rgb(240, 240, 240);
  color: black;
  border-radius: 30px;
}
.my-container .chat-window .chat-window-footer {
  height: 6%;
  padding: 0 13px;
  margin-top: 10px;
}
.my-container .chat-window .chat-window-footer form {
  width: 100%;
  display: flex;
}
.my-container .chat-window .chat-window-footer form input {
  width: 100%;
  background-color: #f0f2f5;
  outline: none;
  height: 36px;
  border-radius: 18px;
  border: none;
  padding: 8px 12px;
}
.my-container .chat-window .chat-window-footer form button {
  height: 36px;
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 20px;
  margin-left: 7px;
}
.my-container .chat-window .chat-window-footer form button i {
  line-height: 36px;
}/*# sourceMappingURL=style.css.map */